In [1]:
import problem
import xgboost as xgb
import lightgbm as lgb
from sklearn.metrics import mean_squared_error

# Load the data
X_train, y_train, X_test, y_test = problem.get_transformed_data()

# Train XGBoost model
xgb_model = xgb.XGBRegressor()
xgb_model.fit(X_train, y_train)

# Train LightGBM model
lgb_model = lgb.LGBMRegressor()
lgb_model.fit(X_train, y_train)

# Make predictions
xgb_preds = xgb_model.predict(X_test)
lgb_preds = lgb_model.predict(X_test)


# Calculate score
xgb_score = mean_squared_error(y_test, xgb_preds, squared=False)
lgb_score = mean_squared_error(y_test, lgb_preds, squared=False)

# Print results
print("XGBoost accuracy:", xgb_score)
print("LightGBM accuracy:", lgb_score)

[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.001917 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 203
[LightGBM] [Info] Number of data points in the train set: 496827, number of used features: 6
[LightGBM] [Info] Start training from score 3.079917
XGBoost accuracy: 0.3631656329473284
LightGBM accuracy: 0.436785578171438

In [2]:
X_train.head()

        counter_id   latitude  longitude  week  weekday  hour
400125          20  48.840801   2.333233    36        1     1
408305          19  48.840801   2.333233    36        1     1
87516            5  48.853720   2.357020    36        1     1
98518            4  48.853720   2.357020    36        1     1
875137          52  48.885290   2.326660    36        1     1